html, body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
.div-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sair{
    width: 350px;
    height: 60px;
    background-color: rgba(255,255,255,0);
    border: none;
    border: 2px solid #2dc7ff;
    color: white;
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 45px;
    z-index: 999;
    padding-top: 5px;
    font-size: 25px;
    font-family: commando;
    transition: all 0.3s;
}
.sair:hover{
    transform: scale(0.9);
}
.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}
.crawl > p{
    text-align: center;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
