@font-face{
    src: url(../fonts/commando.ttf);
    font-family: commando;
}
*{
	box-sizing: border-box;
	overflow: hidden;
	font-family: commando;
}
.align-center{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	width: 800px;
	height: 100vh;
}
.logo{
	width: 380px;
}
ul{
	list-style: none;	
	width: 400px;
	margin: auto;
	padding: 10px;
	font-size: 20px;
}
.ranking-list-item{	
	width: 95%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-radius: 5px;
    box-shadow: inset 0 0 20px rgba(193, 94, 255, .9), 0 0 20px rgba(193, 94, 255, .4);
	margin: 8px;
	color: white;
}
.ranking-list-item:hover{
    background: rgba(193, 94, 255, .2);
}
.titulo{
	color: #F3CF42;
	text-shadow: 5px 5px 5px black;
	padding: 5px;
	font-size: 35px;
}
.spanPts{
	text-align: right;
	color:  #F3CF42;
	padding: 0 5px;
}
.fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}
.fullscreen video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    opacity: 0.7;
}
@media screen and (min-width: 0px){
	.titulo{
		font-size: 85px;
		margin-bottom: 40px;
	}

	.input-login {
		margin-top: 25px;
		width: 550px;
		height: 78px;
		padding: 28px 25px;
		font-size: 47px;
	}

	.btn {
	}
}

@media screen and (min-width:730px){
	.titulo{
		font-size: 105px;
		margin-bottom: 30px;
	}

	.input-login {
		margin-top: 25px;
		width: 700px;
		height: 85px;
		padding: 30px 25px;
		font-size: 42px;
	}

	.btn {
		font-size: 45px;
		-webkit-text-stroke-width: 2.5px;
		display: block;
		height: 80px;
		width: 100%;
		margin-top: 5px;
	}
}

@media screen and (min-width: 1001px) {
	.titulo{
		font-size: 45px;
		margin-bottom: 25px;
	}

	.input-login {
		margin-top: 15px;
		width: 300px;
		height: 28px;
		padding: 18px 15px;
		font-size: 17px;
	}

	.btn {
		font-size: 18px;
		-webkit-text-stroke-width: 0.5px;
		display: inline-block;
		margin-top: 10px;
		height: 30px;
	}
}