*{
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100vh;
    overflow: hidden;
}
.titulo{
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}
.centralDiv{
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background: rgb(65,191,218);
    background: linear-gradient(180deg, rgba(65,191,218,0) 0%, rgba(4,75,173,0.41220238095238093) 50%, rgba(0,212,255,0) 100%);
}
.logo{
    width: 350px;
    padding: 5px;
}
.divForm{
    width: 50%;
    height: 40%;
    border-radius: 10px;
    background-color: rgba(46,134,222,0.3);
    text-align: center;
}
.btn{
    margin-top: 10px;
    width: 98px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
    transition: all 0.3s;
}
.colorBtn1{
    background-color: #fc5c65;
}
.colorBtn2{
    background-color: #45aaf2;
}
.colorBtn3{
    background-color: #20bf6b;
}
.btn:hover{
    transform: scale(0.95);
}  
input{
    outline: none;
    margin-bottom: 10px;
    width: 300px;
    height: 28px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: gray;
    border: 2px solid #ffffffff;
}
.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen video{
    min-width: 100%;
    min-height: 100%;
}
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
}
.lembrarMinhaSenha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 300px;
    font-size: 17px;
    margin: 10px;
}
.lembrarMinhaSenha label {
    flex: 1;
    color: white;
    text-align: left;
}

.lembrarMinhaSenha input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
            
body {margin:0;}

[class^="col-"] {
    width:100%;
    float:left;
    padding:5px;
    /*border: 1px solid red;*/
}
.col-dg-1{width: 8.33%;}
.col-dg-2{width: 16.66%;}
.col-dg-3{width: 25%;}
.col-dg-4{width: 33.33%;}
.col-dg-5{width: 41.66%;}
.col-dg-6{width: 50%;}
.col-dg-7{width: 58.33%;}
.col-dg-8{width: 66.66%;}
.col-dg-9{width: 75%;}
.col-dg-10{width: 83.33%;}
.col-dg-11{width: 91.66%;}
.col-dg-12{width: 100%;}

@media screen and (max-width: 729px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
    *{
        font-size: 30px;
    }
    .titulo{
        color: white;
        font-size: 60px;
        margin-bottom: 40px;
    }
    .logo{
        width: 100%;
    }
    input{
        width: 100%;
        height: 100px;
        padding: 15px;
        color: gray;
    }
    .lembrarMinhaSenha{
        width: 100%;
        font-size: 30px;
        margin: 20px;
    }
    .lembrarMinhaSenha label{
        font-size: 30px;
    }
    .lembrarMinhaSenha input {
        width: 50px;
        height: 50px;
        margin-right: 40px;
    }
    .btn{
        width: 100%;
        height: 100px;
    }
    .fullscreen video{
        min-width: 100%;
        min-height: 100%;
        display: none;
    }

}

@media screen and (min-width:730px) and (max-width: 1000px){
    .col-dm-1{width: 8.33%;}
    .col-dm-2{width: 16.66%;}
    .col-dm-3{width: 25%;}
    .col-dm-4{width: 33.33%;}
    .col-dm-5{width: 41.66%;}
    .col-dm-6{width: 50%;}
    .col-dm-7{width: 58.33%;}
    .col-dm-8{width: 66.66%;}
    .col-dm-9{width: 75%;}
    .col-dm-10{width: 83.33%;}
    .col-dm-11{width: 91.66%;}
    .col-dm-12{width: 100%;}
    *{
        font-size: 30px;
    }
    .titulo{
        color: white;
        font-size: 60px;
        margin-bottom: 40px;
    }
    .logo{
        width: 100%;
    }
    input{
        width: 100%;
        height: 100px;
        padding: 15px;
        color: gray;
    }
    .lembrarMinhaSenha{
        width: 100%;
        font-size: 30px;
        margin: 40px;
    }
    .lembrarMinhaSenha label{
        font-size: 40px;
    }
    .lembrarMinhaSenha input {
        width: 50px;
        height: 50px;
        margin-right: 40px;
    }
    .btn{
        width: 100%;
        height: 100px;
    }
    .fullscreen video{
        min-width: 100%;
        min-height: 100%;
        display: none;
    }

}

.linha:after {
    content:"";
    display:block;
    clear:both;
}
.container {
    margin:0px 20px;
}
.container-fluid {
    margin:0px;
}